html, body {
    height: 100%;
    background-color: #2E3740;
}

.left_side {
    margin-right: 0;
}

.right_side {
    margin-left: 0;
}

.logo {
    background-color: #232A34;
}

.header {
    height: 38px;
    background-color: #232A34;
}

.header a {
    display: block;
    font-size: 14px;
    color: #8D95A0;
    text-decoration: none;
}

.home {
    float: left;
    padding: 12px 15px 12px 40px;
    border-left: 1px solid #1A1F27;
    border-right: 1px solid #1A1F27;
    width: 30px;
    background: url('/images/icon_home_u.png') no-repeat 0 center;
    line-height: 100%;
}

.my_info {
    display: inline-block;
    border-left: 1px solid #1A1F27;
    padding: 12px 15px;
    line-height: 100%;
}

.menus ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
}

.menus li {
    border-top: 1px solid #1A1F27;
    padding: 5px;
}

.menus li a {
    height: 24px;
    line-height: 24px;
    padding: 5px 30px 5px 40px;
    display: block;
    color: #8D95A0;
    text-decoration: none;
}

.menus li a:hover {
    color: #FFF;
}

.icon_account {
    background: url('/images/icon_account_u.png') no-repeat 0 center;
}

.icon_account:hover{
    background: url('/images/icon_account_d.png') no-repeat 0 center;
}

.icon_advertisement {
    background: url('/images/icon_advertisement_u.png') no-repeat 0 center;
}

.icon_advertisement:hover{
    background: url('/images/icon_advertisement_d.png') no-repeat 0 center;
}

.icon_share {
    background: url('/images/icon_share_u.png') no-repeat 0 center;
}

.icon_share:hover{
    background: url('/images/icon_share_d.png') no-repeat 0 center;
}

.icon_travel {
    background: url('/images/icon_travel_u.png') no-repeat 0 center;
}

.icon_travel:hover{
    background: url('/images/icon_travel_d.png') no-repeat 0 center;
}

.icon_product {
    background: url('/images/icon_commodity_u.png') no-repeat 0 center;
}

.icon_product:hover{
    background: url('/images/icon_commodity_d.png') no-repeat 0 center;
}

.icon_statistics {
    background: url('/images/icon_statistics_u.png') no-repeat 0 center;
}

.icon_statistics:hover{
    background: url('/images/icon_statistics_d.png') no-repeat 0 center;
}

.icon_order {
    background: url('/images/icon_search_u.png') no-repeat 0 center;
}

.icon_order:hover{
    background: url('/images/icon_search_d.png') no-repeat 0 center;
}

.icon_audit {
    background: url('/images/icon_accounts_u.png') no-repeat 0 center;
}

.icon_audit:hover{
    background: url('/images/icon_accounts_d.png') no-repeat 0 center;
}

.icon_country {
    background: url('/images/icon_country_u.png') no-repeat 0 center;
}

.icon_country:hover{
    background: url('/images/icon_country_d.png') no-repeat 0 center;
}

.content {
    color: #232A34;
    padding: 10px;
    min-height: 500px;
    background-color: #DCDCDC;
}

.data-grid {
    height: 500px;
}

#images-grid span1 {
    height: 70px;
}

#images-grid img {
    max-width: 70px;
    max-height: 70px;
}

.form-horizontal .control-label {
    width: 100px;
}

.form-horizontal .controls {
    margin-left: 120px;
}

.modal {
    width:800px;
    margin-left: -400px;
}

/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/
.uploadify {
    position: relative;
    margin-bottom: 1em;
}
.uploadify-button {
    background-color: #505050;
    background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #505050),
        color-stop(1, #707070)
    );
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #808080;
    color: #FFF;
    font: bold 12px Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    width: 100%;
}
.uploadify:hover .uploadify-button {
    background-color: #606060;
    background-image: linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #606060),
        color-stop(1, #808080)
    );
    background-position: center bottom;
}
.uploadify-button.disabled {
    background-color: #D0D0D0;
    color: #808080;
}
.uploadify-queue {
    margin-bottom: 1em;
}
.uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
}
.uploadify-error {
    background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
    background: url('../images/uploadify-cancel.png') 0 0 no-repeat;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.uploadify-queue-item.completed {
    background-color: #E5E5E5;
}
.uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadify-progress-bar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}