body {
    background-color: #2E3740;
}

.login-page {
}

.login-bg {
}

.login-bg img {
    width: 100%;
}

.form {
    float: none;
    color: #FFF;
    margin: 0 auto;
    padding-top: 40px;
    background-color: #2E3740;
}

.form .label {
    display: inline-block;
    width: 100px;
    font-size: 16px;
}

div.form .row {
    margin: 10px 0;
}

.row input[type=text], .row input[type=password] {
    width: 200px;
}

.rememberMe {
    padding-left: 100px;
}

.buttons {
    margin-left: 20px;
}

.buttons input {
    margin: 0;
    border: 0;
    padding: 0;
    width: 68px;
    height: 68px;
    background: #2E3740 url(/images/btn_loading_u.png);
    color: #FFF;
    font-size: 22px;
}

.buttons input:hover {
    background: #2E3740 url(/images/btn_loading_d.png);
}

@media screen and (min-width:1400px){
    .login-bg img {
        margin-top: -10%;
    }
}

@media screen and (min-width:1800px){
    .login-bg img {
        margin-top: -20%;
    }
}